body{
    background-color: #000;
}

h1{
    font-family: cursive;
    text-align: center;
    color: aliceblue;
}

.container{
    display: flex;
    height: 80vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box{
    height: 100px;
    width: 100px;
    border: 4px solid rgb(7, 27, 29);
    border-radius: 20px;
    margin: 5px;
}

#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}